Options +ExecCGI
#AddType text/html cgi
AddHandler cgi-script rb
AddHandler cgi-script cgi
#AddHandler cgi-script rb

#DirectoryIndex start.rb
DirectoryIndex dispatch.cgi

RewriteEngine On
RewriteBase /
#RewriteBase  ''
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*) start.rb/$1 [L]
RewriteRule ^(.*) dispatch.cgi/$1 [L]
#RewriteRule ^(.*) start.rb [L]

