<ul class="pageitem">
  <li class="textbox">
    <div>
      <p><%= @description %></p>
    </div>
  </li>
  <li>書棚：<%= @shelf %></li>
  <li><%= @zaiko %></li>
</ul>

<ul class="pageitem"> 
  <li class="form"><input name="link" type="button" value="ジュンク堂のページを開く" onclick="window.location = '<%= @url %>'; return false;"/></li>
</ul>
